@font-face {
    font-family: MontserratBlack;
    src: url(../../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(../../fonts/Montserrat-Regular.ttf);
}
