.footer{
    background: url(../../img/footer/Bg-footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 190px;
    }

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 10px 0px;

        & img{
            @include adaptiv-value('width',61,48, 1);
            @include adaptiv-value('height',71,53,1);
        }
        &--info{  
            padding: 0px 0px 0px 8px;
            flex: 0 0 165px;
        }
        &--title{
            @include adaptiv-value('font-size',16,13,1);
            font-weight: 700;
            line-height: 18px;
        }

        &--text{
            @include adaptiv-value('font-size',13,10,1);
            line-height: 13px;
            font-weight: 300;
        }
    }

    &__link{
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
        &:hover{
            text-decoration: underline;
        }
        &:not(:last-child){
            margin:0px 0px 8px 0px;
        }
    }
}