//Слайдер//

.slider__arrows{
    display: grid;
    grid-template-columns: repeat(2, 48px);
    column-gap: 8px;
}


.slider__arrow{
    border-radius: 50%;
    height: 48px;
    background-color: rgba(232, 159, 113, 0.3);
    font-size: 12px;
    cursor: pointer;

    &--prev{
        &:before{
            transform: rotate(90deg);
        }
    }

    &--next{
        &:before{
            transform: rotate(90deg);
        }
    }

    @media (any-hover: hover) {
        transition: all .3s ease;
        &:hover{
            color: #fff;
            background-color: $orangeColor;
        }
        
       
    }

    &_white{
        box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.16);
        background-color: #fff;
        @media (any-hover: hover) {
            &:hover{
                background-color: $orangeColor;
            }
            
        }
    }
}

.controls__slider--main{
    &--arrows{
        @media (max-width: $md2+px) {
            display: none;
            
        }
    }
    &--dots{
        @media (max-width: $md2+px) {
            justify-content: center;
        }
    }
}



.swiper-pagination-bullets{
    display: flex;
    flex-wrap: wrap;
}

.swiper-pagination-bullet{
    cursor: pointer;
    flex: 0 0 27px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    background: none;
    align-items: center;
    margin: 2px 0px;
    &:not(:last-child){
        margin-right: 12px;
    }

    &::after{
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 15px;
        left: 9px;
        transform: translateY(-50%);
        background-color: #d8d8d8;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $orangeColor;
        transition: all .3s ease;
        transform: scale(0);
    }
}

.swiper-pagination-bullet-active{
    &::after{
        background-color: $orangeColor;
    }
    &::before{
        transform: scale(1);
    }
}

// Вспомогательные классы//

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.unhide{
    display: block!important;
}

.title{
    @include adaptiv-value('font-size',32,20,1);
    text-align: center;
    font-weight: 700;
    color: $maincolor;
    span{
        color: $orangeColor;
    }
}

.btn{
    display: inline-flex;
    @include adaptiv-value('padding-right',30,10,1);
    @include adaptiv-value('padding-left',30,10,1);
    @include adaptiv-value('padding-top',24,18,1);
    @include adaptiv-value('padding-bottom',24,18,1);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #ff6d2f;
    background: linear-gradient(to bottom, #ff5912, #ff996d);

    &__white{
        color: $orangeColor;
        background-color: #fff;
        @media(any-hover:hover){ 
            &:hover{
                color: $orangeColor;
                background-color: #fff;
        }
    }
    }
}




